// app global css in SCSS form
.full-height {
  height: 100%;
}

.hoverable {
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: $shadow-7;
  }
}

.monospace textarea {
  font-family: monospace !important;
  min-height: 400px !important;
}
